.pop-up {
	--animation-duration: var(--pop-up-animation-duration, 0.5s);
	--animation-timing-function: var(--pop-up-animation-timing-function, linear);
	--animation-open-name: var(--pop-up-animation-open-name, slideInRight);
	--animation-close-name: var(--pop-up-animation-close-name, slideOutLeft);
	--animation-open-duration: var(--pop-up-animation-open-duration, var(--animation-duration));
	--animation-close-duration: var(--pop-up-animation-close-duration, var(--animation-duration));
	--animation-open-timing-function: var(
		--pop-up-animation-open-timing-function,
		var(--animation-timing-function)
	);
	--animation-close-timing-function: var(
		--pop-up-animation-close-timing-function,
		var(--animation-timing-function)
	);
	--animation-content-open-name: var(--pop-up-animation-content-open-name);
	--animation-content-close-name: var(--pop-up-animation-content-close-name);
	--animation-content-open-duration: var(
		--pop-up-animation-content-open-duration,
		var(--animation-duration)
	);
	--animation-content-close-duration: var(
		--pop-up-animation-content-close-duration,
		var(--animation-duration)
	);
	--animation-content-open-timing-function: var(
		--pop-up-animation-content-open-timing-function,
		var(--animation-timing-function)
	);
	--animation-content-close-timing-function: var(
		--pop-up-animation-content-close-timing-function,
		var(--animation-timing-function)
	);

	position: fixed;
	width: 100dvw;
	height: 100dvh;
	background: rgba(0, 0, 0, 0.5);
	padding: 0;
	border: none;

	justify-content: center;
	align-items: center;
	inset: 0;

	animation-fill-mode: forwards;
	animation-timing-function: ease;

	&[open] {
		display: flex;
		animation-name: var(--animation-open-name);
		animation-duration: var(--animation-open-duration);
		animation-timing-function: var(--animation-open-timing-function);
	}

	&.close {
		display: flex;
		animation-name: var(--animation-close-name);
		animation-duration: var(--animation-close-duration);
		animation-timing-function: var(--animation-close-timing-function);
	}

	&.no-use-animation {
		animation-name: none;
	}

	.pop-up-close-btn {
		display: block;
		appearance: none;
		border: none;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 1px;
		right: 1px;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		border-radius: 100%;

		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 15px;
			background-color: #fff;
			rotate: 45deg;
			transform-origin: center;
			position: absolute;
			inset: 0 0;
			margin: auto;
			border-radius: 2px;
			transition: all 0.25s;
		}

		&:after {
			rotate: -45deg;
		}

		&:hover&:before,
		&:hover&:after {
			transform: scale(1.5);
		}

		&:focus {
			outline: 1px dashed #fff;
		}

		&:active&:before,
		&:active&:after {
			transform: scale(0.75);
		}
	}

	.pop-up-content {
		background: #fff;
		padding: 15px;
		box-sizing: border-box;
		border-radius: 15px;
		width: calc(100dvw - 30px);
		max-height: calc(100dvh - 30px);
		max-width: 1200px;
		overflow: auto;
	}

	&.use-close-btn-in-content {
		.pop-up-close-btn {
			background: rgba(0, 0, 0, 0.5);

			&:focus {
				outline-color: rgba(0, 0, 0, 0.5);
			}
		}

		.pop-up-content {
			position: relative;
		}
	}

	&.use-close-in-pop-up {
		cursor: pointer;

		.pop-up-content {
			cursor: default;
		}
	}

	&.content-display-none .pop-up-content {
		display: none;
	}

	&.use-animation-in-content {
		.pop-up-content {
			animation-name: var(--animation-content-open-name);
			animation-duration: var(--animation-content-open-duration);
			animation-timing-function: var(--animation-content-open-timing-function);
			animation-fill-mode: forwards;
		}

		&.close {
			animation-delay: var(--animation-content-close-duration);

			.pop-up-content {
				animation-name: var(--animation-content-close-name);
				animation-duration: var(--animation-content-close-duration);
				animation-timing-function: var(--animation-content-close-timing-function);
			}
		}
	}
}

body:has(.pop-up[open]) {
	overflow: hidden;
}
